.navbar {
  display: flex;
  justify-content: start;
  background-color: #282828;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

/* Navlink color */
.nav-link {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
  color:rgb(180, 180, 180)
}

.nav-link:focus {
  outline: none;
  color: lightgrey;
}

.nav-link:focus, .active-nav-link:focus {
  outline: none;
  color: rgb(185, 185, 185);
}

.dashboard {
  text-align: center;
}

.landing-image {
  margin: 60px auto;
  height: 300px;
  width: 100%;
}

.placeholder-image {
  width: 100%;
  height: 300px;
  background-image: url('/background.jpg');
  background-repeat: repeat-x;
  background-size: contain;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.products .grid {
  display: grid;
  margin-inline: 40px;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); /* Default for large screens */
}

@media (max-width: 1200px) {
  .products .grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Medium screens */
  }
}

@media (max-width: 872px) {
  .products .grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Smaller screens */
  }
}

@media (max-width: 580px) {
  .products .grid {
    grid-template-columns: minmax(250px, 1fr); /* Super small screens */
  }
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-inline: 40px;
}

.search-bar {
  flex: 0 0 60%;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 5px;
}

.mng-product-btn {
  flex: 0 0 25%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mng-product-btn:hover {
  background-color: #0056b3;
}

.add-btn {
  flex: 0 0 15%;
  margin-inline: 8px;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-btn {
  flex: 0 0 15%;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mng-product-href {
  text-decoration: none;
  color: white;
}

.manage-products .grid {
  display: grid;
  margin-inline: 40px;
  gap: 20px;
}

/* .products-table-div {
  display: flex;
}

.products-table {
  margin-inline: 40px;
  width: 100%;
} */

.products-table-div {
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  margin: 20px;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th, .products-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.products-table th {
  background-color: #f4f4f4;
}

.products-table input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

@media (max-width: 768px) {
  .products-table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
  }

  .products-table th, .products-table td {
    display: block;
    width: 100%;
  }

  .products-table th {
    display: none; /* Hide table headers on small screens */
  }

  .products-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }

  .products-table td::before {
    content: attr(data-label);
    flex: 1;
    font-weight: bold;
  }

  .products-table input {
    flex: 2;
  }
}

.add-product-form {
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  margin: 20px;
}

.new-product-table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 768px) {
  .new-product-table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
}

.card-image {
  flex: 1;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-details {
  flex: 2;
  padding: 16px;
}

.card-details h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.card-details p {
  margin: 5px 0;
}

.price {
  font-weight: bold;
  color: green;
}

.suppliers {
  margin-bottom: 20px;
}

.supplier {
  margin-inline: 50px;
  margin-bottom: 10px;
}

.supplier:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.namaSupplier {
  font-weight: 500;
  font-size: 1.5rem;
}

.address {
  font-style: italic;
}

.pageTitle {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
}