.navbar {
  display: flex;
  justify-content: start;
  background-color: #282828;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

/* Navlink color */
.nav-link {
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
  color:rgb(180, 180, 180)
}

.nav-link:focus {
  outline: none;
  color: lightgrey;
}

.nav-link:focus, .active-nav-link:focus {
  outline: none;
  color: rgb(185, 185, 185);
}

.dashboard {
  text-align: center;
}

.landing-image {
  margin: 60px auto;
  height: 300px;
  width: 100%;
}

.placeholder-image {
  width: 100%;
  height: 300px;
  background-image: url('/background.jpg');
  background-repeat: repeat-x;
  background-size: contain;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}

.products .grid {
  display: grid;
  margin-inline: 50px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr); /* Default for large screens */
}

@media (max-width: 1200px) {
  .products .grid {
    grid-template-columns: repeat(3, 1fr); /* Medium screens */
  }
}

@media (max-width: 768px) {
  .products .grid {
    grid-template-columns: repeat(2, 1fr); /* Smaller screens */
  }
}

@media (max-width: 480px) {
  .products .grid {
    grid-template-columns: 1fr; /* Super small screens */
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05); /* Zoom effect */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Bigger shadow */
}

.search-bar {
  width: 50%;
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}


.card-image {
  max-width: 100%;
  height: auto;
}

.suppliers .supplier {
  margin-bottom: 20px;
}

.address {
  font-style: italic;
}

.pageTitle {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}